Used Car Price Prediction

1) Problem statement.
This dataset comprises used cars sold on cardehko.com in India as well as important features of these cars.
If user can predict the price of the car based on input features.
Prediction results can be used to give new seller the price suggestion based on market condition.

2) Data Collection.
The Dataset is collected from scrapping from cardheko webiste
The data consists of 13 column and 15411 rows.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\kumma\Data_science_Projects\Random forest\cardekho_imputated.csv",index_col=[0])

In [3]:
df.head()

,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

DATA CLEANING
Handling missing values

In [4]:
#check null values
df.isnull().sum()

car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [5]:
#remove unnecessary columns
df.drop('car_name',axis=1,inplace=True)

In [6]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [7]:
#different types of features
num_features = [feature for feature in df.columns if df[feature].dtype != 'O']
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
dis_features = [feature for feature in num_features if len(df[feature].unique()) <= 25]
con_features = [feature for feature in num_features if feature not in dis_features]
print("number of numerical features :",len(num_features))
print("number of categorical features :",len(cat_features))
print("number of discrete features :",len(dis_features))
print("number of continous features :",len(con_features))

number of numerical features : 7
number of categorical features : 5
number of discrete features : 2
number of continous features : 5

In [8]:
#Independent and Dependent features
from sklearn.model_selection import train_test_split
X = df.drop(['selling_price','brand'],axis=1)
y = df['selling_price']

In [9]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

Feature Encoding and Scaling
One Hot Encoding for Columns which had lesser unique values and not ordinal

. One hot encoding is a process by which categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.

In [10]:
len(df['model'].unique())

120

In [11]:
df['model'].value_counts()

model
i20            906
Swift Dzire    890
Swift          781
Alto           778
City           757
              ...
Ghibli           1
Altroz           1
GTC4Lusso        1
Aura             1
Gurkha           1
Name: count, Length: 120, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['model'] = le.fit_transform(X['model'])

In [13]:
X.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [14]:
print(len(df['seller_type'].unique()))
print(len(df['fuel_type'].unique()))
print(len(df['transmission_type'].unique()))

3
5
2

In [15]:
#create column transformer
num_features = X.select_dtypes(exclude='object').columns
cat_features = X.select_dtypes(include='object').columns
onehot_columns = ['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
numeric_transformer =StandardScaler()
Oh_transformer = OneHotEncoder()
preprocessor = ColumnTransformer(
    [
        ('Onehotencoder',Oh_transformer,onehot_columns),
        ('Standardscaler',numeric_transformer,num_features)
    ],remainder='passthrough'
)

In [16]:
X = preprocessor.fit_transform(X)

In [17]:
X

array([[ 0.        ,  1.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 0.        ,  1.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 0.        ,  1.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 1.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]])

In [18]:
pd.DataFrame(X)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.519714,0.983562,1.247335,-0.000276,-1.324259,-1.263352,-0.403022
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-0.225693,-0.343933,-0.690016,-0.192071,-0.554718,-0.432571,-0.403022
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.536377,1.647309,0.084924,-0.647583,-0.554718,-0.479113,-0.403022
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-1.519714,0.983562,-0.360667,0.292211,-0.936610,-0.779312,-0.403022
4,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,-0.666211,-0.012060,-0.496281,0.735736,0.022918,-0.046502,-0.403022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15406,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.508844,0.983562,-0.869744,0.026096,-0.767733,-0.757204,-0.403022
15407,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,-0.556082,-1.339555,-0.728763,-0.527711,-0.216964,-0.220803,2.073444
15408,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.407551,-0.012060,0.220539,0.344954,0.022918,0.068225,-0.403022
15409,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.426247,-0.343933,72.541850,-0.887326,1.329794,0.917158,2.073444
15410,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,-1.024131,-1.339555,-0.825631,-0.407839,0.020999,0.395884,-0.403022

In [19]:
#seperate dataset into train and test
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=21)

In [20]:
X_train.shape,X_test.shape

((12328, 17), (3083, 17))

Model Selection and Model Training

In [21]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [22]:
#function to evaluate model
def eval_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse = mean_squared_error(true,predicted)
    rmse = np.sqrt(mean_squared_error(true,predicted))
    r_squ = r2_score(true,predicted)
    return mae,rmse,r_squ

In [23]:
#Model training
models = {
    "LinearRegression" : LinearRegression(),
    "Lasso" : Lasso(),
    "Ridge" : Ridge(),
    "RandomForestRegressor" : RandomForestRegressor(),
    "AdaBoostRegressor" : AdaBoostRegressor(),
    "DecisionTreeRegressor" : DecisionTreeRegressor(),
    "KNeighborsRegressor" : KNeighborsRegressor()
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train,y_train)
    #prediction
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    #evaluate model on train and test dataset
    model_train_mae, model_train_rmse, model_train_r2 = eval_model(y_train,y_train_pred)
    model_test_mae, model_test_rmse, model_test_r2 = eval_model(y_test,y_test_pred)
    print(list(models.keys())[i])
    print("Model performance for training set")
    print("- Root Mean Squared error:{:.4f}".format(model_train_rmse))
    print("- Mean absolute error:{:.4f}".format(model_train_mae))
    print("- R2_square:{:.4f}".format(model_train_r2))
    print('-----------------------------------------')
    print("Model performance for testing set")
    print("- Root Mean Squared error:{:.4f}".format(model_test_rmse))
    print("- Mean absolute error:{:.4f}".format(model_test_mae))
    print("- R2_square:{:.4f}".format(model_test_r2))
    print('='*35)
    print('\n')

LinearRegression
Model performance for training set
- Root Mean Squared error:564159.0342
- Mean absolute error:274667.7296
- R2_square:0.6245
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:457219.5283
- Mean absolute error:269183.3124
- R2_square:0.6553
===================================


Lasso
Model performance for training set
- Root Mean Squared error:563572.6372
- Mean absolute error:274085.6964
- R2_square:0.6252
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:456881.3690
- Mean absolute error:268605.4761
- R2_square:0.6558
===================================


Ridge
Model performance for training set
- Root Mean Squared error:563573.1293
- Mean absolute error:274050.1664
- R2_square:0.6252
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:456859.5483
- Mean absolute error:268576.2238
- R2_square:0.6559
===================================


RandomForestRegressor
Model performance for training set
- Root Mean Squared error:125038.9655
- Mean absolute error:40012.9521
- R2_square:0.9816
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:194369.1341
- Mean absolute error:97713.2497
- R2_square:0.9377
===================================


AdaBoostRegressor
Model performance for training set
- Root Mean Squared error:549037.5972
- Mean absolute error:389936.9438
- R2_square:0.6443
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:562556.1314
- Mean absolute error:395682.3084
- R2_square:0.4782
===================================


DecisionTreeRegressor
Model performance for training set
- Root Mean Squared error:20147.4897
- Mean absolute error:4938.7600
- R2_square:0.9995
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:288916.2826
- Mean absolute error:126992.1938
- R2_square:0.8624
===================================


KNeighborsRegressor
Model performance for training set
- Root Mean Squared error:335047.1611
- Mean absolute error:92979.7088
- R2_square:0.8675
-----------------------------------------
Model performance for testing set
- Root Mean Squared error:225239.0502
- Mean absolute error:109491.9153
- R2_square:0.9164
===================================

In [24]:
#Initialize few parameter for Hyperparamter tuning
knn_params = {"n_neighbors": [2, 3, 10, 20, 40, 50]}
rf_params = {"max_depth": [5, 8, 15, None, 10],
             "max_features": [5, 7, "auto", 8],
             "min_samples_split": [2, 8, 15, 20],
             "n_estimators": [100, 200, 500, 1000]}

ada_params={
    "n_estimators":[50,60,70,80],
    "loss":['linear','square','exponential']
}

In [25]:
# Models list for Hyperparameter tuning
randomcv_models = [('KNN', KNeighborsRegressor(), knn_params),
                   ("RF", RandomForestRegressor(), rf_params),
                   ("Adaboost",AdaBoostRegressor(),ada_params)
                   
                   ]

In [26]:
##Hyperparameter Tuning
from sklearn.model_selection import RandomizedSearchCV

model_param = {}
for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(X_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 6 candidates, totalling 18 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 12 candidates, totalling 36 fits
---------------- Best Params for KNN -------------------
{'n_neighbors': 10}
---------------- Best Params for RF -------------------
{'n_estimators': 100, 'min_samples_split': 2, 'max_features': 5, 'max_depth': 15}
---------------- Best Params for Adaboost -------------------
{'n_estimators': 80, 'loss': 'linear'}

In [29]:
## Retraining the models with best parameters
models = {
    "Random Forest Regressor": RandomForestRegressor(n_estimators=100, min_samples_split=2, max_features=5, max_depth=15, 
                                                     n_jobs=-1),
     "K-Neighbors Regressor": KNeighborsRegressor(n_neighbors=10, n_jobs=-1),
     "Adaboost":AdaBoostRegressor(n_estimators=80,loss='linear')
    
}
for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)

    model_train_mae , model_train_rmse, model_train_r2 = eval_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = eval_model(y_test, y_test_pred)
    
    print(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    
    print('='*35)
    print('\n')

Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 135551.0584
- Mean Absolute Error: 58138.7012
- R2 Score: 0.9783
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 188414.1230
- Mean Absolute Error: 94460.8701
- R2 Score: 0.9415
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 355889.3382
- Mean Absolute Error: 104922.4165
- R2 Score: 0.8506
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 239265.0876
- Mean Absolute Error: 112916.6031
- R2 Score: 0.9056
===================================


Adaboost
Model performance for Training set
- Root Mean Squared Error: 509502.9726
- Mean Absolute Error: 356195.6377
- R2 Score: 0.6937
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 524781.9889
- Mean Absolute Error: 360892.7065
- R2 Score: 0.5459
===================================